@import url(../css/fonts.css);
  
  body
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}
/*---------------- Colors fonts--------------------------*/
:root
{
    --text-purple: rgb(27, 9, 43);
    --light-purple: rgb(190, 163, 235);

/*---------------- Colors fonts--------------------------*/

    --space: linear-gradient(135deg, #667eea 0%, #764ba2 100%);

/*---------------- Gradient Color--------------------------*/

}



/*---------------- Gradient Color--------------------------*/



/*-------------------Global Classes------------------------*/
a
{
    text-decoration: none;
    color: var(--text-purple);
}

.flex-row
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul
{
    list-style-type: none;
}
/*-------------------Global Classes------------------------*/

/*-------------------Navigation----------------------------*/
.nav
{
    background-color: white;
    padding: 0 25px;
    height: 0;
    min-height: 20vh;
    overflow-x: hidden;
}

.nav .nav-menu
{
    justify-content: space-between;
}

.nav .list
{
    
    display: flex;
    margin: 0;
}

.nav .list .item-list
{
    padding: 10px 10px;
    font-size: 20px;
    position: relative;
    font-family: Poppins;
}
.nav-brand a
{
    font-size: 35px;
    padding: 50px 0;
    font-family: Poppins;
}


.nav .list .item-list:hover
{
    background-color: rgb(190, 163, 235);
}

.nav .social
{
    padding: 6px 0;
}

.nav .social i
{
    padding: 10px;
}

.nav .social i:hover
{
    color:var(--light-purple)
}
/*-------------------Navigation----------------------------*/
