@import url(../css/fonts.css);
  
  body
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background:rgb(2, 4, 10);
    
}
/*---------------- Colors fonts--------------------------*/
:root
{
    
    --text-purple: rgb(5, 11, 27);
    --light-purple: rgb(190, 163, 235);
    

/*---------------- Colors fonts--------------------------*/

    --space: linear-gradient(135deg, #667eea 0%, #764ba2 100%);

/*---------------- Gradient Color--------------------------*/

}



/*---------------- Gradient Color--------------------------*/



/*-------------------Global Classes------------------------*/
a
{
    text-decoration: none;
    color: white;
}

.flex-row
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul
{
    list-style-type: none;
}

h1
{
    font-family: Poppins;
    font-size: 60px;
}
h2
{
    color: white;
    font-size: 40px;
    font-family: Luxurious_Roman;
}
h3
{
    font-family: Pushster;
    font-size: 30px;
    color: white;
}
h4
{
    color: rgb(5, 11, 27);
}

span
{
    color: white;
}

button.btn
{
    border: 2px solid;
    border-radius: 30px;
    padding: 15px 50px;
    font-size: 18px;
    font-family: Poppins;
    color: white;
    cursor: pointer;
}

.container
{
    margin: 0 5vw;

}

p
{
    color: white;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

hr
{
    margin-left: 60px;
}


/*-------------------Global Classes------------------------*/

/*-------------------Navigation----------------------------*/
.nav
{
    background-color: white;
    padding: 0 25px;
    height: 0;
    min-height: 80px;
    background:var(--text-purple);
    
}

.nav .nav-menu
{
    justify-content: space-between;

}

.nav .list
{
    
    display: flex;
    margin: 0;
    margin-top: 15px;
}

.nav .list .item-list
{
    padding: 10px 10px;
    font-size: 20px;
    position: relative;
    font-family: Poppins;
    transition: 1s;
}

.nav-brand 
{
    margin-top: 10px;
}
.nav-brand a
{
    font-size: 35px;
    padding: 50px 0;

    font-family: Poppins;
}


.nav .list .item-list:hover
{
    background-color: rgb(190, 163, 235);
}

.nav .social
{
    padding: 15px 0;
    font-size: 25px;
}

.nav .social i
{
    padding: 10px;
    transition: 0.5s;
}

.nav .social i:hover
{
    color:var(--light-purple)
}


/*-------------------Navigation----------------------------*/



/*---------------------Main Content-------------------------*/
main .blog{
    background: url('../images/carousel.jpg');
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    width: 100%;
    background-size: 65%;
}

main .blog .blog-post{
    padding-top: 6rem;
}

main .blog-post .blog-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

main .blog-content .blog-title{
    padding: 2rem 0;
}

main .blog-content .btn-blog{
    padding: .7rem 2rem;
    background: var(--sky);
    margin: .5rem;
}

main .blog-content span{
    display: block;
}

section .container .owl-nav{
    position: absolute;
    top: 0%;
    margin: 0 auto;
    width: 100%;
}

.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next{
    color: var(--text-gray);
    background: transparent;
    font-size: 2rem;
}

.owl-theme .owl-nav [class*='owl-']:hover{
    background: transparent;
    color: var(--midnight);
}

.owl-theme .owl-nav [class*='owl-']{
    outline: none;
}

/*-------------------------------------*/

/*-------------Title-----------------*/


main .title
{
    background: url(../images/background2.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
}

main .title .background
{
    padding-top: 300px;
    text-align: center;
    color: white;
}

main .title h1,h3
{
    margin: 15px;
}

main .title .btn
{
    margin: 10px;
    background: var(--space);
    transition: 2s;
}

main .title .btn:hover
{
    background: var(--light-purple);
    color: white;
    
}
/*-------------Title----------------*/

/*-------------Carousel----------------*/
section {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    align-items: center;
}
  
#slider {
    width: 768px;
    height: 420px;
}
  
#slider #top-row {
    width: 768px;
    height: 420px;
    overflow: hidden;
}
  
#slider #top-row {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
#slider .slide {
    display: none;
    width: 100%;
    flex: 1;
}
  
#slider .slide.active {
    display: block;
}
  
#slider #bottom-row {
    display: flex;
    justify-content: center;
}
  
#dots {
    margin-top: 10px;
    display: inline-flex;
    padding: 5px 10px;
    padding-right: 0;
    border-radius: 2px;
}
  
#dots .dot {
    width: 12px;
    height: 12px;
    background-color: #3a3a3a;
    display: inline-block;
    border-radius: 100%;
    margin-right: 10px;
}
  
.arrow {
    margin: 0 20px;
    font-size: 40px;
    color: white;
}
  
.arrow,
.dot {
    cursor: pointer;
  }

/*-------------Carousel----------------*/

/*-------------side-content----------------*/
main .site-content
{
    display: grid;
    grid-template-columns: 60% 30%;
    clear: both;
}


main .post-content
{
    width: 100%;
    margin-bottom: 5rem;
    margin-left: 30px;
}

main .post-content .post-image .post-info
{
    color: white;
}

main .site-content .post-content > .post-image, .post-title 
{
    padding: 20px 30px;
    position: relative;
}

main .site-content .post-content > .post-image .post-info
{
    background: var(--space);
    padding: 20px;
    position: absolute;
    bottom: 0%;
    left: 35%;
    border-radius: 30px;
}

main .site-content .post-content> .post-image > div
{
    overflow: hidden;
}

main .site-content .post-content > .post-image .img
{
    width: 100%;
    transition: all 1s ease;
}

main .site-content .post-content > .post-image .img:hover
{
    transform: scale(1.3);
}

main .site-content .post-content > .post-image .post-info span
{
    margin: 0.5rem;
}

main .site-content .post-title a
{
    font-family: Pushster;
    font-size: 40px;
}

main .site-content .post-content .post-title .post-btn
{
    padding: 10px 20px;
    background: var(--space);
    border: none;
    border-radius: 0;
    transition: 2s;
}

main .site-content .post-content .post-title .post-btn:hover
{
    background: var(--light-purple);
}


.site-content .pagination
{
    justify-content: center;
    margin: 20px 0;

}
.site-content .pagination i
{
    color: white;
}

.site-content .pagination a
{
    padding: 10px;
    border-radius: 50%;
    margin: 10px;
    font-family: Poppins;
    color:rgb(5, 11, 27);
}

.site-content .pagination .background-number
{
    background: white;
}

/*-------------side-content----------------*/

/*-------------side-bar------------------------*/
.sidebar .category h2
{

    margin-left: 50px;
   
}
.site-content > .sidebar .category-list
{
    font-family: Luxurious_Roman;

}

.site-content > .sidebar .category-list .list-items
{
    background: var(--space);
    padding: 20px 10px;
    margin: 20px 0;
    border-radius: 30px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    transition: 1s;
}

.site-content > .sidebar .category-list .list-items:hover
{
    background: var(--light-purple);
}

.site-content .sidebar .popular-post h2
{
    margin: 65px;
    padding-top: 60px;
}

.site-content .sidebar .popular-post .post-content
{
    padding: 10px;
}

.site-content .sidebar .popular-post .post-info
{
    padding: 10px 20px !important; 
    bottom: 0px !important;
    left: 30px !important;
    border-radius: 0rem !important;
    background: rgb(2, 4, 10)!important;
}

.site-content .sidebar .popular-post .post-title a
{
    font-size: 40px;
    font-family: Luxurious_Roman;
}


/*-------------newsletter------------------------*/
.site-content .sidebar .newsletter
{
    padding-top: 30px;
    margin-left: 60px;
    margin-bottom: 70px;
}

.site-content .sidebar .newsletter .form-element
{
    padding: 20px 30px;
}

.site-content .sidebar .newsletter .input-element
{
    width: 80%;
    height: 25px;
    padding: 15px 20px;
    font-size: 18px;
}

.site-content .sidebar .newsletter .form-btn
{
    border-radius: 0;
    padding: 15px 33.6%;
    margin-top: 30px;
    background: var(--space);
    transition: 1s;
    
}

.site-content .sidebar .newsletter .form-btn:hover
{
    background: var(--light-purple);
}

/*-------------newsletter-------------------------*/
/*-----------------tags---------------------------*/

.site-content .sidebar .popular-tags
{

    margin-left: 70px;
    padding: 30px 0;
}

.site-content .sidebar .popular-tags .tag 
{
    background: var(--space);
    padding: 15px;
    border-radius: 30px;
    margin: 8px 10px;
    display: block;
    

}
.site-content .sidebar .popular-tags .tag:hover
{
    background: white;
    color: rgb(5, 11, 27);
    cursor: pointer;
}
/*-----------------tags---------------------------*/
/*---------------------Main Content-------------------------*/




/*--------------------------Footer-----------------------------*/
footer.footer
{
    height: 100%;
    background: rgb(255, 255, 255) !important;
    position: relative;

}

footer.footer .container h3
{
    color: rgb(5, 11, 27);
}

footer.footer .container p
{
    color: rgb(5, 11, 27);
    font-family: Luxurious_Roman;
    font-size: 20px;
}


footer.footer .container
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer.footer .container > div
{
    flex-grow: 1;
    flex-basis: 0;
    padding: 40px 40px;
}

footer.footer .newsletter .form-element
{
   display: inline-block;
}

footer.footer .newsletter .form-element input
{
    padding: 10px 20px;
    border:2px solid rgb(5, 11, 27);
    font-size: 18px;
    width: 70%;
    border-radius: 0;
}
footer.footer .newsletter .form-element span
{
    background: var(--space);
    padding: 14px;
    cursor: pointer;
}

footer.footer .instagram div > img
{
    display: inline-block;
    width: 30%;
    margin: 5px;    
}
footer.footer .follow div i
{
    padding-right: 30px;
}

.footer.footer .copy a
{
    color: rgb(5, 11, 27);
}
.footer.footer .copy
{
    justify-content: center;
    font-family: Luxurious_Roman;
    padding: 2px;
}

/*--------------------------Footer-----------------------------*/





/*-------------------Viewport for 750px--------------------*/
@media only screen and (max-width: 750px)
{
    .nav .nav-menu, .nav .list
    {
       flex-direction: column;
    }
    .nav .toggle-collapse
    {
        display: initial;
    }

    main .blog
    {
        height: 2500px;
    }
}
/*-------------------Viewport for 750px--------------------*/
