@import url(../css/fonts.css);
  
  body
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}
/*---------------- Colors fonts--------------------------*/
:root
{
    
    --text-purple: rgb(5, 11, 27);
    --light-purple: rgb(190, 163, 235);
    

/*---------------- Colors fonts--------------------------*/

    --space: linear-gradient(135deg, #667eea 0%, #764ba2 100%);

/*---------------- Gradient Color--------------------------*/

}



/*---------------- Gradient Color--------------------------*/



/*-------------------Global Classes------------------------*/
a
{
    text-decoration: none;
    color: white;
}

.flex-row
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul
{
    list-style-type: none;
}

h1
{
    font-family: Poppins;
    font-size: 60px;
}

h3
{
    font-family: Pushster;
    font-size: 30px;
}

button.btn
{
    border: 2px solid;
    border-radius: 30px;
    padding: 15px 50px;
    font-size: 18px;
    font-family: Poppins;
    color: white;
    cursor: pointer;
}

.container
{
    margin: 0 5vw;

}
/*-------------------Global Classes------------------------*/

/*-------------------Navigation----------------------------*/
.nav
{
    background-color: white;
    padding: 0 25px;
    height: 0;
    min-height: 80px;
    overflow-x: hidden;
    transition:height 1s ease-out;
    background:var(--text-purple);
    
}

.nav .nav-menu
{
    justify-content: space-between;

}

.nav .toggle-collapse
{
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
}

.nav .toggle-collapse .toggle-icons
{
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
}
.nav .toggle-collapse .toggle-icons i
{
    font-size: 20px;
    color: rgb(27, 9, 43);
}

.collapse
{
    height: 20rem;
}

.nav .list
{
    
    display: flex;
    margin: 0;
    margin-top: 15px;
}

.nav .list .item-list
{
    padding: 10px 10px;
    font-size: 20px;
    position: relative;
    font-family: Poppins;
}

.nav-brand 
{
    margin-top: 10px;
}
.nav-brand a
{
    font-size: 35px;
    padding: 50px 0;

    font-family: Poppins;
}


.nav .list .item-list:hover
{
    background-color: rgb(190, 163, 235);
}

.nav .social
{
    padding: 6px 0;
}

.nav .social i
{
    padding: 10px;
}

.nav .social i:hover
{
    color:var(--light-purple)
}


/*-------------------Navigation----------------------------*/



/*---------------------Main Content-------------------------*/
main .blog{
    background: url('../images/carousel.jpg');
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    width: 100%;
    background-size: 65%;
}

main .blog .blog-post{
    padding-top: 6rem;
}

main .blog-post .blog-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

main .blog-content .blog-title{
    padding: 2rem 0;
}

main .blog-content .btn-blog{
    padding: .7rem 2rem;
    background: var(--sky);
    margin: .5rem;
}

main .blog-content span{
    display: block;
}

section .container .owl-nav{
    position: absolute;
    top: 0%;
    margin: 0 auto;
    width: 100%;
}

.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next{
    color: var(--text-gray);
    background: transparent;
    font-size: 2rem;
}

.owl-theme .owl-nav [class*='owl-']:hover{
    background: transparent;
    color: var(--midnight);
}

.owl-theme .owl-nav [class*='owl-']{
    outline: none;
}

/*-------------------------------------*/

/*-------------Title-----------------*/


main .title
{
    background: url(../images/background2.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
}

main .title .background
{
    padding-top: 300px;
    text-align: center;
    color: white;
}

main .title h1,h3
{
    margin: 15px;
}

main .title .btn
{
    margin: 10px;
    background: var(--space);
    
   
}

main .title .btn:hover
{
    background: transparent;
    
}
/*-------------Title----------------*/

/*-------------Carousel----------------*/
main .blog{
    background: url('../images/carousel.jpg');
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    width: 100%;
    background-size: 100%;
}

main .blog .blog-post{
    padding-top: 6rem;
}

main .blog-post .blog-content{
    display: flex;
    float: left;
    justify-content: space-between;
    text-align: center;
    width: 400px;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    background-color: rgb(4, 3, 12);
}

main .blog-post .blog-content img
{
    width: 400px;
    height: 240px;
}

main .blog-content .blog-title{
    padding: 2rem 0;
}

main .blog-content .btn-blog{
    padding: .7rem 2rem;
    background: var(--space);
    margin: .5rem;
}

main .blog-content span{
    display: block;
    color: white;
}


/*-------------Carousel----------------*/


/*-------------------Viewport for 750px--------------------*/
@media only screen and (max-width: 750px)
{
    .nav .nav-menu, .nav .list
    {
       flex-direction: column;
    }
    .nav .toggle-collapse
    {
        display: initial;
    }
}
/*-------------------Viewport for 750px--------------------*/
